#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: 'Montserrat', sans-serif;
  
}

.App {
  margin: 0 auto;
  width: 30%;
  border: 2px solid black;
  border-radius: 50px;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: right;
  border-bottom: 3px solid rgb(213, 213, 213);
  border-radius: 3px;
}

.navigation li {
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
}

.navigation li:hover {
  border-bottom: 3px solid rgb(77, 77, 77);
  transform: scale(1.1);
}

h1 {
  font-size: 124px;
  font-size: clamp(60px, 15vw, 124px);
  word-wrap: break-word;
  max-width: 100%;

}

h2 {
  font-size: 40px;
}

button {
  font-size: 24px;
  margin: 0rem 0.5rem 1rem 0.5rem;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px black;
  transition: all 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

.buttonMinus {
  background-color: rgb(255, 201, 201);
}

.buttonPlus {
  background-color: rgb(181, 255, 202);
}